@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap);

* {
    margin: 0;
    padding: 0;
    /* list-style: none;  */
    box-sizing: border-box;
}


.navbar {
    width: 100%;
    /* width:1200px; */
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.navbar-container {
    height: 54px;
    max-width: 1200px;
    display: flex;
    margin: auto;
    background: #ffffff;
    justify-content: center;
    align-items: center;

}

.nav-title {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #448899;
    margin: 10px 0px 10px 10px;
    width: 150px;
    text-align: center;

}

.nav-items-1 {
    width: 64px;
    text-align: center;
    margin: 10px -10px 10px auto;
    font-family: 'Noto Sans TC';
    font-weight: 500;
    font-size: 16px;
    color: #666666;
}

.nav-items-2 {
    width: 71px;
    text-align: center;
    margin: 10px 10px 10px 30px;
    font-family: 'Noto Sans TC';
    font-weight: 500;
    font-size: 16px;
    color: #666666;
}

.homebox {
    height: 320px;
}
.welcome-box {
    /* height: 320px; */
    /* width: 1200px; */
    background: url("../static/images/welcome.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: start;
    background-position: center 0px;

    /* background-size: Auto Auto; */

    /* grid-template-columns: 1fr 1200px 1fr; */
    /* overflow: auto; */
    /* overflow-x: hidden; */

    /* margin-top: 85px; */
}



.home-line-1 {
    font-family: 'Noto Sans TC';
    font-weight: 700;
    /* font-weight: bold; */
    font-size: 28px;
    align-items: center;
    position: relative;
    top: 85px;
    color: #f8f8f8;
    text-shadow: 0px 0px 30px #aabbcc;
    padding: 5px;
    margin-left: 3px;
    margin-top: 25px;
}

.home-line-2 {
    position: relative;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    color: #F8F8F8;
    position: relative;
    /* left: 0px; */
    top: 90px;
    padding: 8px;
    /* margin-top: -15px; */
}

.search-input {
    width: 400px;
    height: 46px;
    font-family: "Noto Sans TC";
    font-weight: 700;
    font-size: 16px;
    color: #757575;
    align-items: center;
    margin-top: 100px;
    padding-left: 15px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    display: inline-block !important;
    margin-left: 8px;
}


.search-btn {
    background: #448899;
    position: relative;
    width: 60px;
    height: 46px;
    border-radius: 0px 5px 5px 0px;
    top: 6px;
    left: -5px;
    border: none;
    display: inline-block !important;
    cursor: pointer;

}

.category-box {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background: #FFFFFF;
    width: 400px;
    box-shadow: 0px 0px 20px #AABBCC;
    border-radius: 5px;
    position: absolute;
    grid-auto-flow: column;
    opacity: 0; 
    visibility: hidden;
    z-index: 50;
}

.category-div {
    padding: 11px 15px;
    width: 90px;
    /* display: flex; */
    align-items: center;
    font-family: 'Noto Sans TC';
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}
.category-div:hover{
    background: #E8E8E8;
    border-radius: 5px;

}


#content {
    /* width: 1200px; */
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-gap: 30px; 
  
}

.attra-all {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    /* grid-template-columns: 4fr 1fr 1fr; */
    width: 270px;
    height: 242px;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
}

.img {
    grid-row: 1/2;
    width: 100%;
    aspect-ratio: 270/197;
    object-fit: cover;
    position: relative;
    border-radius: 3px 3px 0px 0px;
    /* background-image: url(../static/images/11000848.webp); */
}

.attra-name {
    grid-row: 2/3;
    /* justify-self: start; */
    font-size: 16px;
    font-family: 'Noto Sans TC';
    color: #FFFFFF;
    text-align: left;
    font-weight: 700;
    margin-left: 10px;
    align-self: center;
    opacity: 0.6;
    background: #000000;
    position:absolute;
    width: 270px;
    height:40px;
    bottom: 0px;
    margin:0;
    padding-top: 10px;
    padding-left: 10px;
}

.attra-sub {
    display: grid;
    grid-row: 3/4;
    grid-template-columns: 135px 135px;
    height: 45px;
    padding-top:10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.mrt {
    grid-column: 1/2;
    font-family: 'Noto Sans TC';
    font-weight: 500;
    font-size: 16px;
    color: #757575;
    justify-self: start;
    margin-left: 10px;

}

.category {
    grid-column: 2/3;
    font-family: 'Noto Sans TC';
    font-weight: 500;
    font-size: 16px;
    color: #757575;
    justify-self: end;
    margin-right: 10px;
}

#footer {
    grid-area: footer;
    height: 104px;
    font-family: 'Noto Sans TC';
    font-weight: 700;
    font-size: 16px;
    background: #757575;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    padding: 45px 0px 45px 0px;
}


@media (max-width: 1200px) {
    .welcome-box {
        width:90%;
        display: grid;
        justify-content: center;
        align-content: center;
        /* background-size: cover;
        display: grid;
        align-items: center;
        justify-content: center; */

    }


}

@media (max-width: 600px) {

} 