<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
</head>

<body>
    <div class="wrapper">
        <div class="navbar">
            <nav class="navbar-container">
                <div class="nav-title">台北一日遊</div>
                <div class="nav-items-box">
                    <div class="nav-items-1">預定行程</div>
                    <div class="nav-items-2">登入/註冊</div>
                </div>
            </nav>
        </div>
        <div class="nav-box"></div>
        <div class="slogan-outter">
            <div class="slogan">
                <div class="slogan-line-1">輕鬆享受台北一日悠閒</div>
                <div class="slogan-line-2">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="search">
                    <input type="text" class="search-input" placeholder="輸入景點名稱查詢" />
                    <button type="button" class="search-btn"><img src="../static/images/icon_search.png" /></button>
                    <div class="category-box">
                        <!-- <div class="category-div">養生溫泉</div>
                        <div class="category-div">藍色公路</div>
                        <div class="category-div">歷史建築</div>
                        <div class="category-div">藝文館所</div>
                        <div class="category-div">單車遊蹤</div>
                        <div class="category-div">戶外踏青</div>
                        <div class="category-div">宗教信仰</div>
                        <div class="category-div">其　 他</div>
                        <div class="category-div">親子共遊</div>         -->
                    </div>
                </div>
            </div>
        </div>
        <div class="welcome-box-outter">
            <div class="welcome-box"></div>
        </div>
        <div class="content-box">
            <div id="content">
                <!-- <div class="attra-all">
                    <div class="img"></div>
                    <div class="attra-name">平安鐘</div>
                    <div class="attra-sub">
                        <div class="mrt">忠孝敦化</div>
                        <div class="category">公共藝術</div>
                    </div>
                </div> -->
            </div>
        </div> 

        <footer id="footer">COPYRIGHT © 2021 台北一日遊</footer>
      


    </div>
    <script src="../static/index.js"></script>
</body>

</html>
